@model IEnumerable<Estudiante>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estudiantes Matriculados - Convivencia</title>
    <link rel="stylesheet" type="text/css" href="css/Estilos.css">
</head>
<body>
    <h1 style="color: lightblue; margin-top: 40px;">Estudiantes Registrados</h1><br/>
    <div>
        <a asp-action="RegistrarEstudiante" style="color: red;">Registrar Nuevo Estudiante</a><br/>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model=>model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.Apep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.Apem)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model=>model.Name)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model=>model.Birth)
                    </th>
                    <th>
                         @Html.DisplayNameFor(model=>model.Carr)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model=>model.Cic)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model){
                        <!-- <tr style="background: white; color: gray;"> -->
                        <tr style="background: gray; color: white;">
                        <th>
                        @Html.DisplayNameFor(model=>model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.Apep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.Apem)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model=>model.Name)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model=>model.Birth)
                    </th>
                    <th>
                         @Html.DisplayNameFor(model=>model.Carr)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model=>model.Cic)
                    </th>
                        <td>
                            [<a asp-action="MostrarEstudiante" asp-route-id="@item.ID" style="color: red;">Detalles</a>]
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>