@model Estudiante
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalles Estudiante - Convivencia</title>
    <link rel="stylesheet" type="text/css" href="css/Estilos.css">
</head>
<body>
    <h1 style="color: lightblue; margin-top: 40px;">Lista de Estudiantes > Detalle de Estudiante</h1><br/>
    <label><b>@Html.DisplayNameFor(model=>model.ID)</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.ID)</div><br/>
    <label><b>@Html.DisplayNameFor(model=>model.Apep)</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.Apep)</div><br/>
    <label><b>@Html.DisplayNameFor(model=>model.Apem)</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.Apem)</div><br/>
    <label><b>@Html.DisplayNameFor(model=>model.Name)</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.Name) años</div><br/>
    <label><b>@Html.DisplayNameFor(model=>model.Carr)</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.Carr)</div><br/>
    <label><b>@Html.DisplayNameFor(model=>model.Cic)</b></label>
    <div class="form-group">@Html.DisplayTextFor(model=>model.Cic)</div><br/>
    <input type="submit" class="btn btn-info" value="Volver" style="margin: auto; display: block; margin-bottom: 40px;" onclick="window.history.back();"/>
</body>
</html>